	/*******************************/
	/* Reset ***********************/

		html, body, div, span, 
		h1, h2, h3, h4, h5, h6, p, 
		img, b, i, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tr, th, td,
		article, aside, footer, header, nav, menu, section {
		    margin:0;
		    padding:0;
		    border:0;
		    outline:0;
		    font-size:100%;
		    vertical-align:baseline;
		    background:transparent;
		}

		div, 
		fieldset, 
		article, 
		aside, 
		footer, 
		header, 
		nav, 
		menu, 
		section, 
		img,
		p,
		input,
		textarea {
		    display:block;
		    box-sizing: border-box;
		}
		input[type="checkbox"],
		input[type="radio"] {
		    display:inline;
		}
		img { 
		    display: inline; 
		    height: 100%;
		    width:  100%;

		    /* Para que la img no crezca más de su tamaño máximo */
		    width: 9\auto; /* ie8 */
		    max-width:  100%;
		}
		nav ul {
		    list-style:none;
		}
		table {
		    border-collapse:collapse;
		    border-spacing:0;
		}
		/* change border colour to suit your needs */
		hr {
		    display:block;
		    height:1px;
		    border:0;

		    border-top:1px solid grey;
		    margin:1em 0;
		    padding:0;
		}
		input, select {
		    vertical-align:middle;
		}

	/* Fin / Reset *****************/